version: "2.4"

networks:
  default:
    ipam:
      config:
        - subnet: {{ network.docker.subnet }}

services:

{% if use.docker_nginx  %}
  nginx:
    build: "./docker_nginx/"
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/log/nginx/:/var/log/nginx/
    networks:
      default:
        ipv4_address: {{ network.docker.nginx_ip }}
    mem_limit: 256M
{% endif %}
{% if use.docker_node %}
  node:
    build: "./docker_node"
    volumes:
      - {{ dir.node_app }}:{{ dir.node_app }}
      - {{ dir.node_app }}/node_modules
    networks:
      default:
        ipv4_address: {{ network.docker.node_ip }}
    mem_limit: 2048M
    stdin_open: true
{% endif %}
{% if use.docker_mysql %}
  mysql:
    build: "./docker_mysql/"
    environment:
      - MYSQL_ROOT_PASSWORD={{ db.root_password }}
      - MYSQL_USER={{ db.user }}
      - MYSQL_PASSWORD={{ db.password }}
      - MYSQL_DATABASE={{ db.name }}
    volumes:
      - /var/lib/mysql/data/:/var/lib/mysql/data/
    ports:
      - 3306:3306
    networks:
      default:
        ipv4_address: {{ network.docker.mysql_ip }}
    mem_limit: 512M
{% endif %}
{% if use.docker_php %}
  php:
    build: "./docker_php/"
    environment:
      - DB_USER={{ db.user }}
      - DB_PASSWORD={{ db.password }}
      - DB_NAME={{ db.name }}
      - DB_HOST={{ network.docker.mysql_ip }}
      - DB_PORT=3306
    volumes:
      - {{ dir.php_app }}:{{ dir.php_app }}
    networks:
      default:
        ipv4_address: {{ network.docker.php_ip }}
    ports:
      - 9001:9001
    mem_limit: 4096M
{% endif %}
{% if use.docker_postgres %}
  postgres:
    build: "./docker_postgres/"
    environment:
      - POSTGRES_DB={{ db.name }}
      - POSTGRES_USER={{ db.user }}
      - POSTGRES_PASSWORD={{ db.password }}
    volumes:
      - /var/lib/postgres:/var/lib/postgres
    ports:
      - 5432:5432
    networks:
      default:
        ipv4_address: {{ network.docker.postgres_ip }}
    mem_limit: 512M
{% endif %}
{% if use.docker_python %}
  python:
    build: "./docker_python/"
    environment:
      - DB_USER={{ db.user }}
      - DB_PASSWORD={{ db.password }}
      - DB_NAME={{ db.name }}
      - DB_HOST={{ network.docker.mysql_ip }}
      - DB_PORT=3306
    volumes:
      - {{ dir.python_app }}:{{ dir.python_app }}
    networks:
      default:
        ipv4_address: {{ network.docker.python_ip }}
    mem_limit: 4096M
{% endif %}